<mat-progress-bar mode="indeterminate" color="accent" *ngIf="showProgressBar"></mat-progress-bar>

<div class="title">
  <h2>Place here grid title</h2>
  <mat-slide-toggle style="float: right;">
    Toggle example
  </mat-slide-toggle>
</div>

<div class="mat-home-content">

  <div class="mat-elevation-z8">

    <div class="mat-canvas-bar-container">
      Place here grid subtitle. Now it has title "limits".
    </div>

    <mat-table [dataSource]="dataSource" multiTemplateDataRows>

      <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <app-avatar size="30" name="{{row.userName}}">
          </app-avatar>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef [style.text-align]="center">Limit name</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="name" style="color: #476282;">{{row.name}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef [style.text-align]="center">Limit value</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="value" style="color: #476282;">
          {{row.value | currency:row.currency:'symbol':'4.2-2'}}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef>User name</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="userName"> {{row.userName }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remainingValue">
        <mat-header-cell *matHeaderCellDef> Remaining limit value</mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="remainingValue">
          {{row.remainingValue | currency:row.currency:'symbol':'4.2-2'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="who">
        <mat-header-cell *matHeaderCellDef> Modified By </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="name"> {{row.modifiedBy}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="when">
        <mat-header-cell *matHeaderCellDef> When </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="name"> {{row.modificationDate | date: 'dd.MM.yyyy'}} </mat-cell>
      </ng-container>         

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

  </div>

</div>
