<main>
    <div class="content-wrapper" style="display: flex;padding-top: 10%;">
        <section class="card">
            <div class="card__content">

              <h2 style="margin-bottom: 65px;text-align: center;">
                <img [src]="'assets/img/new_logo.svg'" class="logo"/>
                <h1 class="hide-sm mat-badge-header" style="font-weight: 700;
                background-color: #fff;
                position: relative;
                top: -43px;
                right: -163px;
                width: 150px;
                height: 40px;
                font-size: 24px;">
                  FX Admin
                </h1>
              </h2>
                <h1 style="margin-bottom: 65px;text-align: center;">You are logged out or your session has expired.</h1>
                <button mat-flat-button color="primary" class="black-btn" style="display: flex;justify-content: center;margin: 0 auto;min-width: 144px;" (click)="goToLogon()">Logon</button>
            </div>
        </section>
    </div>
</main>
