<main>
    <div class="content-wrapper" style="display: flex;padding-top: 15%;">
        <section class="card">
            <div class="card__content">
                <h2 style="margin-bottom: 30px;text-align: center;">
                  <img [src]="'assets/img/logo.png'" class="logo"/>
                  <h1 class="hide-sm mat-badge-header" style="font-weight: 700;
                  background-color: #fff;
                  position: relative;
                  top: -13px;
                  right: -28px;
                  width: 150px;
                  height: 40px;">
                    Your App name
                  </h1>
                </h2>
                <div style="margin-top: 30%;text-align: center;">
                  <mat-progress-bar mode="indeterminate" color="accent" *ngIf="showProgressBar"></mat-progress-bar>
                </div>
                <div class="content-wrapper" style="text-align: center;padding-top: 5%;">
                  <p>
                    <strong>Your App is starting!</strong>
                  </p>
                </div>
            </div>
        </section>
    </div>
</main>
